<html>
<head>
<title>Final Project</title>
<link rel="stylesheet" href="https://maxcdn.bootsrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<p><h1 align="center">Handwritten Digit Recognizer</h1></p>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <u1>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </u1>
          {% endif %}
        {% endwith %}       
    </p>
    {% if filename %}
    <div style="padding:20px;">
        <img src="{{ url_for('display_image', filename=filename) }}">
    </div>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <d1>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </d1>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
</div>
</div>
</body>
</html>